
.threecolumns {
	 -moz-column-count: 3;
	 -moz-column-gap: 20px;
	 -webkit-column-count: 3;
	 -webkit-column-gap: 20px;
	 column-count: 3;
	 column-gap: 20px;
}

a.label, a.label:hover, a.label:active, a.label:visited { color: #fff; }

div.hero-unit {
    background-image: url(../img/Caveman_rock_128x128.png) bottom right no-repeat;
}