.twocolumns {
	 -moz-column-count: 2;
	 -moz-column-gap: 30px;
	 -webkit-column-count: 2;
	 -webkit-column-gap: 30px;
	 column-count: 2;
	 column-gap: 30px;
}

.threecolumns {
	 -moz-column-count: 3;
	 -moz-column-gap: 20px;
	 -webkit-column-count: 3;
	 -webkit-column-gap: 20px;
	 column-count: 3;
	 column-gap: 20px;
}

a.label, a.label:hover, a.label:active, a.label:visited { color: #fff; }

div.hero-unit {
    background-image: url(../img/human_with_rock_256x256.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

div.hero-unit p { padding-right: 100px; }

p.right { text-align: right; }
p.center { text-align: center; }
