
.threecolumns {
	 -moz-column-count: 3;
	 -moz-column-gap: 20px;
	 -webkit-column-count: 3;
	 -webkit-column-gap: 20px;
	 column-count: 3;
	 column-gap: 20px;
}

a.label, a.label:hover, a.label:active, a.label:visited { color: #fff; }

div.hero-unit {
    background-image: url(../img/human_with_rock_128x128.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
